{% load static %}


 <div class="footer ">
    <div id="footerFlex" class="d-flex">                
        <div id="footerItemFlex" class=" flex-item ">                    
            <h5 id="footerTitulo" class=" text-white">Contato</h5>
            <div id="footerRedesSociais" class=" d-flex flex-item">            
                <h4><a href="#"><i class="fas fa-mobile-alt"></i></a></h4>
                <h4><a href="#"><i class="far fa-comments"></i></a></h4>
                <h4><a href="#"><i class="far fa-envelope"></i></a></h4>
            </div>
        </div>
    </div>
    <div id="footerFlex" class="d-flex ">                           
        <div id="footerItemFlex" class=" flex-item ">   
            <h5 id="footerTitulo" class="text-white" style="margin-left: -22px;">Siga nossas redes sociais</h5>                                          
            <div id="footerRedesSociais" class=" d-flex flex-item">            
                <h4><a href="#"><i class="fab fa-instagram"></i></a></h4>
                <h4><a href="#"><i class="fab fa-facebook"></i></a></h4>
                <h4><a href="#"><i class="fab fa-youtube"></i></a></h4>
            </div>
        </div>
    </div>

</div>
<div class="col-12 text-white text-center" style="background-color: black;">
    <p>RLC STORE® é uma marca registrada de RLC STORE COMÉRCIO ELETRÔNICO S/A | CNPJ: 05.555.666/0007-59 | Todos os direitos reservados.</p>
</div>


<script src="{% static 'assets/bootstrap/js/jquery-3.2.1.slim.min.js'%}"></script>
<script src="{% static 'assets/bootstrap/js/popper.min.js'%}"></script>
<script src="{% static 'assets/bootstrap/js/bootstrap.min.js'%}"></script>
<script defer src="{% static 'assets/font-awesome/js/all.js'%}"></script>
<script src="{% static 'assets/custom/js/scripts.js'%}"></script>