{% load static %}

<!doctype html>
<html lang="en">
  <head>
    {% include 'parciais/_head.html' %}
    <title>{% block title %}{% endblock %}</title>
  </head>
  
  <body>

    <!-- nav -->

    {% include 'parciais/_nav.html' %} 

    <main class="container">
        <div class="row">
            <!-- title colecionáveis -->
                
            <div id="title-colecionaveis" class="heading"><hr >  Colecionáveis <hr></div>

            <!-- first card -->
  
            <div class="d-flex">
                <div class="flex-item ">
                    <div class="card">
                        <img class="card-img-top" src="img/first-card-1.jpg" alt="">
                        <div class="card-body">
                          <h6 class="card-title">Roshi</h6>
                          <p class="card-text">Valor: R$ 25,00</p>
                          <a href="#" class="btn btn-danger btn-sm">Comprar</a>
                        </div>
                    </div>
                </div>
                <div class="flex-item ">
                    <div class="card">
                        <img class="card-img-top" src="img/first-card-2.jpg" alt="">
                        <div class="card-body">
                          <h6 class="card-title">Goku</h6>
                          <p class="card-text">Valor: R$ 25,00</p>
                          <a href="#" class="btn btn-danger btn-sm">Comprar</a>
                        </div>
                    </div>
                </div>
                <div class="flex-item ">
                    <div class="card">
                        <img class="card-img-top" src="img/first-card-3.jpg" alt="">
                        <div class="card-body">
                          <h6 class="card-title">Tenshin</h6>
                          <p class="card-text">Valor: R$ 25,00</p>
                          <a href="#" class="btn btn-danger btn-sm">Comprar</a>
                        </div>
                    </div>
                </div>
                <div class="flex-item ">
                    <div class="card">
                        <img class="card-img-top" src="img/first-card-4.jpg" alt="">
                        <div class="card-body">
                          <h6 class="card-title">Majin Boo</h6>
                          <p class="card-text">Valor: R$ 25,00</p>
                          <a href="#" class="btn btn-danger btn-sm">Comprar</a>
                        </div>
                    </div>
                </div>
                <div class="flex-item ">
                    <div class="card">
                        <img class="card-img-top" src="img/first-card-5.jpg" alt="">
                        <div class="card-body">
                          <h6 class="card-title">Vegeta</h6>
                          <p class="card-text">Valor: R$ 25,00</p>
                          <a href="#" class="btn btn-danger btn-sm">Comprar</a>
                        </div>
                    </div>
                </div>
                <div class="flex-item ">
                    <div class="card">
                        <img class="card-img-top" src="img/first-card-6.jpg" alt="">
                        <div class="card-body">
                          <h6 class="card-title">Piccolo</h6>
                          <p class="card-text">Valor: R$ 25,00</p>
                          <a href="#" class="btn btn-danger btn-sm">Comprar</a>
                        </div>
                    </div>
                </div>

            </div>

            <!-- title Miniatura -->
            
            <div id="title-miniatura" class="heading"><hr >  Miniaturas <hr></div>

            <!-- second card -->
  
            <div class="d-flex">
                <div class="flex-item ">
                    <div class="card">
                        <img class="card-img-top" src="img/first-card-1.jpg" alt="">
                        <div class="card-body">
                          <h6 class="card-title">Roshi</h6>
                          <p class="card-text">Valor: R$ 25,00</p>
                          <a href="#" class="btn btn-danger btn-sm">Comprar</a>
                        </div>
                    </div>
                </div>
                <div class="flex-item ">
                    <div class="card">
                        <img class="card-img-top" src="img/first-card-2.jpg" alt="">
                        <div class="card-body">
                          <h6 class="card-title">Goku</h6>
                          <p class="card-text">Valor: R$ 25,00</p>
                          <a href="#" class="btn btn-danger btn-sm">Comprar</a>
                        </div>
                    </div>
                </div>
                <div class="flex-item ">
                    <div class="card">
                        <img class="card-img-top" src="img/first-card-3.jpg" alt="">
                        <div class="card-body">
                          <h6 class="card-title">Tenshin</h6>
                          <p class="card-text">Valor: R$ 25,00</p>
                          <a href="#" class="btn btn-danger btn-sm">Comprar</a>
                        </div>
                    </div>
                </div>
                <div class="flex-item ">
                    <div class="card">
                        <img class="card-img-top" src="img/first-card-4.jpg" alt="">
                        <div class="card-body">
                          <h6 class="card-title">Majin Boo</h6>
                          <p class="card-text">Valor: R$ 25,00</p>
                          <a href="#" class="btn btn-danger btn-sm">Comprar</a>
                        </div>
                    </div>
                </div>
                <div class="flex-item ">
                    <div class="card">
                        <img class="card-img-top" src="img/first-card-5.jpg" alt="">
                        <div class="card-body">
                          <h6 class="card-title">Vegeta</h6>
                          <p class="card-text">Valor: R$ 25,00</p>
                          <a href="#" class="btn btn-danger btn-sm">Comprar</a>
                        </div>
                    </div>
                </div>
                <div class="flex-item ">
                    <div class="card">
                        <img class="card-img-top" src="img/first-card-6.jpg" alt="">
                        <div class="card-body">
                          <h6 class="card-title">Piccolo</h6>
                          <p class="card-text">Valor: R$ 25,00</p>
                          <a href="#" class="btn btn-danger btn-sm">Comprar</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
                
    <!-- footer -->
    {% include 'parciais/_footer.html' %}
       
  </body>
</html>